{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

        <h1>Planes...</h1>


    <article>

        <h1><a href="/plane_form" role="button">Create new plane?</a></h1>

        <ul>
            {% for plane in planes %}

                <li>
                    <a href="/plane/{{ plane.id }}">
                        <strong>{{ plane.name }}</strong> - owned by {{ plane.owner }}
                    </a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article> 

{% endblock %}

